{
  "extends": "stylelint-config-recommended-scss",
  "defaultSeverity": "error",
  "rules": {
    "indentation": [
      2,
      {
        "indentInsideParens": "twice"
      }
    ],
    "selector-class-pattern": [
      "^[a-z0-9\\-_]+$",
      {
        "resolveNestedSelectors": true
      }
    ],
    "no-descending-specificity": null
  }
}