.input-form {
  padding: 10px;
  min-width: 350px;
  border: 1px solid transparent;
  border-radius: 10px;
  background: #fff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  justify-items: center;
  align-items: center;
}
.input-field {
  height: 45px;
  border: 1px solid transparent;
  border-radius: 10px;
  flex-grow: 1;
  font-size: 22px;
  background: #eceef2;
}
*:focus {
  outline: none;
}
.search-button {
  width: 70px;
  height: 45px;
  background: #eceef2;
  border: 1px solid transparent;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
}